<%- include ('partials/header') %>
<h1> welcome to campgrounds page</h1>

    <%camp_grounds_list.forEach((camp)=>{%>
      <div>
          <h4><%=camp.name%></h4>
          <img src="<%=camp.image_url%>" alt="">
      </div>
       
    <%});%>

<%- include ('partials/footer') %>