<%- include ('partials/header') %>

<div class="container">
    <header class="jumbotron">
    <h1> welcome to Yelp camp home page</h1>
    <a class="btn btn-primary btn-lg" href="/campgrounds">view all campgrounds</a>
</header>

</div>

<%- include ('partials/footer') %>