<%- include ('../partials/header') %>

<div class="container">
  <div class="row">
    <h1 style="text-align: center;">Add new campground below</h1>

    <div  class="form_holder">
      <form action="/campgrounds" method="POST">
        <div class="form-group">
          <input
            id="name"
            class="form-control"
            type="text"
            name="campground[name]"
            placeholder="Name"
          />
        </div>


        <div class="form-group">
          <input
            id="url"
            class="form-control"
            type="text"
            name="campground[image_url]"
            placeholder="Image url"
          />
        </div>
        <div class="form-group">
          <input
            id="description"
            class="form-control"
            type="text"
            name="campground[description]"
            placeholder="description"
          />

        </div>
     <div class="form-group">
          <input
            id="price"
            class="form-control"
            type="text"
            name="campground[price]"
            placeholder="00.00$"
          />
        </div>


        <div class="form-group">
          <button class="btn btn-lg btn-default btn-block btn-primary">
            add!
          </button>
        </div>
      </form>

      <a class="btn btn-primary btn-lg small_anchor" href="/">Go Back</a>
    </div>
  </div>
</div>
<%- include ('../partials/footer') %>
